{% extends "base.html" %}

{% block title %}My Blog{%	endblock %}

{% block content %}
    <h1 class="main_head">Best of 2019</h1>
    <hr id="hr">
    {% for	post in	posts %}
    <h2>
        <a	class="post_title" href="{{post.get_absolute_url}}">
            {{post.title}}
        </a>
    </h2>
    <p	class="date">
        Published {{post.publish}} by {{post.author}}
    </p>
        {{post.body|truncatewords:30|linebreaks}}
    {% endfor %}
    <br>
    {%	include	"pagination.html"	with	page=page_obj	%}
{% endblock	%}
